@import "normalize";
@import "base";

body {
    background: $medium;
    color: $white;
    font: #{$base-font-size}/#{$base-line-height} "Lato", sans-serif;
}

a {
    border-bottom: 1px solid transparent;
    color: $primary;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        color: $primary-light;
        border-bottom: 1px solid $secondary;
    }

    &:focus {
        outline: 1px dotted $secondary;
    }

}

::-moz-selection {
    background: $secondary;
    color: $white;
}

::selection {
    background: $secondary;
    color: $white;
}

img {
    max-width: 100%;
}

p {
    margin-top: $base-line-height;
    margin-bottom: $base-line-height;
}

small {
    @include alignType($h6-size);
}

// Headings
@for $num from 1 through 6 {
    $heading-sizes: ( // Map font-size variables
        1: $h1-size,
        2: $h2-size,
        3: $h3-size,
        4: $h4-size,
        5: $h5-size,
        6: $h6-size
    );

    h#{$num} { // Each heading
        @include alignType(map-get($heading-sizes, $num)); // Set heading styles via mixin

        @if ($num < 4) { // For headings 1-4
            font-weight: 300;
        } @else {
            font-weight: 400;
        }
    }
}


/* Header section */

.abs {
    position: absolute;
}

.header {
    position: relative;
        z-index: 1;

    &-img {
        display: block;
    }

    &-intro {
        background: rgba($secondary,.5);
        padding: 3em;
             left: 0;
            right: 0;
            top: 47%;
        text-align: center;
    }

    &-title {
        @include alignType($h2-size);
    }

    &-before,
    &-after {
        font-size: 5vw;
        font-weight: bold;
        line-height: 1;
        margin: 0;
    }

    &-before {
        bottom: 2.5vw;
        left: 2.5vw;
    }

    &-after {
        top: 2.5vw;
        right: 2.5vw;
    }

}

@include media-query(widescreen) {
    .header-before {
        position: fixed;
    }
}

.btn {
    background: $primary;
    border: 0;
    color: $white;
    display: inline-block;
    font: inherit;
    padding: 0.75rem;
    text-decoration: none;
    transition: all 0.5s;

    @include alignType($h3-size);

    &:hover {
        background: $primary-light;
        border: 0;
        color: $white;
    }
}

/* Editor section */

.editor-section {
    background: $medium url('../img/bg-pattern.png');
    border-top: $base-half-line solid $primary;
    position: relative;
        z-index: 100;
    text-align: center;

    @extend .clearfix;
}

.effects-sidebar {
    background: $dark;
    box-sizing: border-box;
    float: left;
    max-width: $base-line-height * 12;
    overflow: hidden;
    padding: $base-line-height * 1.5;
    width: 100%;

    h3 {
        text-align: left;
    }
}

.effects {
    margin-bottom: $base-line-height;
}

.effect {
    cursor: pointer;
    display: block;
    position: relative;

    img {
        border: $base-half-line solid $light;
        display: block;
        transition: all 0.5s;
    }

    input {
        display: none;

        &:checked + img {
            border: $base-half-line solid $primary;
        }

        &:checked + img + .effect-name {
            opacity: 1;
        }
    }

    &-name {
        background: rgba($tertiary, .54);
        font-size: $h3-size;
        padding: $base-half-line;
        position: absolute;
            bottom: $base-half-line;
            left: $base-half-line;
            right: $base-half-line;
        text-align: left;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover .effect-name {
        opacity: 1;
    }
}

.btn-secondary {
    background: $secondary;

    &:hover {
        background: $secondary-light;
    }
}

.clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}