@import "normalize";
@import "base";

body {
    background: $medium url('../img/bg-pattern.png');
    color: $white;
    font: #{$base-font-size}/#{$base-line-height} "Lato", sans-serif;
}

a {
    border-bottom: 1px solid transparent;
    color: $primary;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        color: $primary-light;
        border-bottom: 1px solid $secondary;
    }

    &:focus {
        border: 1px dotted $secondary;
    }

}

::-moz-selection {
    background: $secondary;
    color: $white;
}

::selection {
    background: $secondary;
    color: $white;
}

img {
    max-width: 100%;
}

p {
    margin-top: $base-line-height;
    margin-bottom: $base-line-height;
}

// Headings
@for $num from 1 through 6 {
    $heading-sizes: ( // Map font-size variables
        1: $h1-size,
        2: $h2-size,
        3: $h3-size,
        4: $h4-size,
        5: $h5-size,
        6: $h6-size
    );

    h#{$num} { // Each heading
        @include alignType(map-get($heading-sizes, $num)); // Set heading styles via mixin

        @if ($num < 4) { // For headings 1-4
            font-weight: 300;
        } @else {
            font-weight: 400;
        }
    }
}

.clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}